<h1>Welcome to Change Counter!</h1>
<form action="/change">
  <div class="form-group">
    <label for="change">Enter in your cents as a whole number:
    </label>
    <input id="change" name="change" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
